{% extends "base.html" %}

{% block head_content %}
<title>Create new post</title>
{% endblock %}
{% block container %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Crear Nuevo Custionario</h4>

                <form method="POST" action="{% url 'questionary:new' %}">
                    {% csrf_token %}

                    <input type="hidden" name="user" value="{{ user.pk}}" />
                    <input type="hidden" name="profile" value="{{ profile.pk }}" />

                    {# Questionare field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.questionnaire.errors %}is-invalid{% endif %}"
                            type="text"
                            name="questionnaire"
                            placeholder="Questionare Name"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.questionnaire.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-5">Guardar</button>

                    <!-- {% load static %}
                    <script src="{% static 'js/inputs.js' %}"></script> -->
                </form>
            </div>
        </div>      
    </div>
{% endblock %}